# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output Files
*.csv
#*.txt
*.xlsx
*.png
!.gitkeep

# Input Files
!sedeco_rst.csv

# Backup Files
backup/*

# MATLAB temp. files
*.asv

# Fortran temp. output files
fort.*

# Editor settings
.vscode/

# Documents for only internal use
Projects/coral_d13C/doc/
doc/
